[http]
    postBuffer = 524288000
[lfs]
    locksverify = true
    activitytimeout = 3600
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store --file=/workspace/.git/.git-credentials
